/* remove margins and padding from entire html container */
* {
    padding: 0px;
    margin: 0px;
  }

  /* anchor tag inherit color of parent container */ 
  a {
    color: inherit;
    text-decoration: none;
  }

  /* establish background/font color */
  body {
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
  }

  p {
    line-height: 2em;
  }

    /* default styling for main, establish horizontal line above main */
    main {
      width: 80%;
      margin: 0 auto;
      border-top: 1px solid #eee;
      padding: 5%;
    }

  /* establish a fixed navbar */
  .navbar-alignment {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100vw;
    height: 5em;
    align-items: center;
    position: fixed;
    z-index: 1;
  }

  .navbar-list {
    display: flex;
  }

  .navbar-list > * {
    list-style: none;
    padding-right: 3em;
    font-family: 'Megrim', 'cursive';
    font-size: 2em;
  }
  
  /* style header */
  .header-title {
    color: white;
    font-family: 'Megrim', 'cursive';
    text-align: center;
    font-size: 8em;
    padding: 20px;
  }

  /* style subheaders */
  .subheaders {
    color: white;
    font-family: 'Megrim', 'cursive';
    text-align: center;
    font-size: 3em;
    padding-bottom: 1em;
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  

  /* style all image tags */
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  .about {
    display: flex;
    flex-direction: row;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    margin-right: 8em;
    width: 50%;
  }

  .about-img {
    width: 50%;
  }
  
  .header-figure {
    background: black;
    margin: 0;
    animation-name: fade-in;
    animation-duration: 7s;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .text-dec-none {
    text-decoration: none;
  }

  /*
  @media screen and (max-width: 600px) {
    #title {
      font-size: 2em;
    }
    #example {
      width: 100%;
    }
    #img-div2 {
      width: 100%;
    }
  }
  */
  
  